/.idea
/.env
/commit_agent.md
/markdowns_agent/

# Ignore Python compiled/cached files
*.pyc
__pycache__/
**/__pycache__/
**/*.pyc

/app/*
!app/custom_components/
!app/custom_components/**
!app/workflows/
!app/workflows/**
app/imgs/
app/papers/
app/.env


/frontend/*
!frontend/langflow-embedded-chat/
!frontend/langflow-embedded-chat/**
!frontend/index.html
!frontend/script.js
!frontend/style.css
frontend/local-config.json
